## FOR LOOP

In [3]:
fruits = ["apple","banana","mango","orange","pineapple"]

for i in fruits:
    print(i)

apple
banana
mango
orange
pineapple

In [9]:
for number in fruits:
    print(number)

apple
banana
mango
orange
pineapple

In [29]:
for number in fruits:
    print(number)
    if number == "mango":
        break

apple
banana
mango

In [34]:
for number in fruits:
    if number == "orange":
        break
    print(number)

apple
banana
mango

In [36]:
for number in fruits:
    print(number)
    if number == "banana":
        continue

apple
banana
mango
orange
pineapple

In [38]:
for number in fruits:
    if number == "banana":
        continue
    print(number)

apple
mango
orange
pineapple

In [42]:
name = "pakistan"
for a in name:
    print(a)

p
a
k
i
s
t
a
n

In [43]:
words = "Pakistan"

In [44]:
for i in words:
    for j in fruits:
        print(j,i)

apple P
banana P
mango P
orange P
pineapple P
apple a
banana a
mango a
orange a
pineapple a
apple k
banana k
mango k
orange k
pineapple k
apple i
banana i
mango i
orange i
pineapple i
apple s
banana s
mango s
orange s
pineapple s
apple t
banana t
mango t
orange t
pineapple t
apple a
banana a
mango a
orange a
pineapple a
apple n
banana n
mango n
orange n
pineapple n

In [52]:
couzin = ["saarim","Zeyaam","ukasha","shahrayar","irfan"]
cast = ["baig","baig","hayat","samol","samol"]

In [54]:
for i in couzin:
    for j in cast:
        print(i,j)

saarim baig
saarim baig
saarim hayat
saarim samol
saarim samol
Zeyaam baig
Zeyaam baig
Zeyaam hayat
Zeyaam samol
Zeyaam samol
ukasha baig
ukasha baig
ukasha hayat
ukasha samol
ukasha samol
shahrayar baig
shahrayar baig
shahrayar hayat
shahrayar samol
shahrayar samol
irfan baig
irfan baig
irfan hayat
irfan samol
irfan samol

In [61]:
startingnum = int(input("Enter a number for starting range"))
endingnum = int(input("Enter a number for ending range"))

numbersum = 0 

for i in range (startingnum , endingnum + 1 ):
    numbersum += i
    
print(f"the total sum of {startingnum} to {endingnum} is {numbersum}")

Enter a number for starting range 1
Enter a number for ending range 3

the total sum of 1 to 3 is 6

# TASK
### Create a calculator 
###  user ask for two integers
### user select the operators (add , sub, multiply, division)
### display the result

In [81]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))

operators = input(" \n Add \n sub \n multiply \n division \n choice ")

if operators == "Add":
    print(f"{num1} + {num2} = {num1 + num2}")
elif operators == "sub":
    print(f"{num1} - {num2} = {num1 - num2}")
elif operators == "multiply":
    print(f"{num1} * {num2} = {num1 * num2}")
elif operators == "division":
    print(f"{num1} / {num2} = {num1 / num2}")
else:
    print("chose the correct operators")

Enter a number 9
Enter a number 9

 Add
 sub
 multiply
 division
 choice  multiply

9 * 9 = 81

In [91]:
std_name = ["mujtaba","ukasha","ahmed","ezaan","maheen"]

std_name_marks =[ 

("mujtaba",50,90,89),
("ukasha",50,50,100),
("ahmed",50,25,25),
("ezaan",23,25,50),
("maheen",10,5,10)
]

failed = {"maheen", "ezaan"}


total_marks:{
    "mujtaba":229,
    "ukasha":200,
    "ahmed":100,
    "ezaan":98,
    "maheen":25
}

for name in std_name:
    marks = total_marks[name]
    
    if marks >= 200:
        print(f"{name} got A1 grade")
    elif marks >= 150:
        print(f"{name} got B grade")
    elif marks >= 100:
        print(f"{name} got C grade")
    else:
        print(f"{name} got Fail grade")
if name in failed:
        print(f"{name} is in failed list.\n")

mujtaba got A1 grade
ukasha got A1 grade
ahmed got C grade
ezaan got Fail grade
maheen got Fail grade
maheen is in failed list.

In [90]:
std_name = ["mujtaba", "ukasha", "ahmed", "ezaan", "maheen"]

std_name_marks = [ 
    ("mujtaba", 50, 90, 89),
    ("ukasha", 50, 50, 100),
    ("ahmed", 50, 25, 25),
    ("ezaan", 23, 25, 50),
    ("maheen", 10, 5, 10)
]

failed = {"maheen", "ezaan"}

total_marks = {
    "mujtaba": 229,
    "ukasha": 200,
    "ahmed": 100,
    "ezaan": 98,
    "maheen": 25
}

for name in std_name:
    marks = total_marks[name]
    
    if marks >= 200:
        print(f"{name} got A1 grade")
    elif marks >= 150:
        print(f"{name} got B grade")
    elif marks >= 100:
        print(f"{name} got C grade")
    else:
        print(f"{name} got Fail grade")

    if name in failed:
        print(f"{name} is in failed list.\n")

mujtaba got A1 grade
ukasha got A1 grade
ahmed got C grade
ezaan got Fail grade
ezaan is in failed list.

maheen got Fail grade
maheen is in failed list.

In [98]:
user = input("Enter a fruit name")

price = {
    "apple":100,
    "banana":150,
    "cherry":120,
    "orange":220,
    "grapes":300,
    "watermallon":1000,
} 

if user in price:
    print(f"yes, {user} is available. price is {price[user]} tumhari auqat se bahar")
else:
    print(f" sorry, {user} is not availbale.")

Enter a fruit name watermallon

yes, watermallon is available. price is 1000 tumhari auqat se bahar

In [102]:
user = input("Enter a fruit name: ").lower()

price = {
    "apple": 100,
    "banana": 150,
    "cherry": 120,
    "orange": 220,
    "grapes": 300,
    "watermelon": 1000,
} 

if user in price:
    print(f"Yes, {user} is available. Price is {price[user]}")
else:
    print(f"Sorry, {user} is not available.")

Enter a fruit name:  Apple

Yes, apple is available. Price is 100

In [104]:
user = int(input("Enter a number"))

if user % 2 == 0:
    print("even")
else:
    print("odd")

Enter a number 3

odd

In [105]:
even_number = []
odd_number = []

for i in range(5):
    num = int(input("Enter a number : "))

    
    if num % 2 == 0:
        even_number.append(num)
    else:
        odd_number.append(num)

print("Even numbers:", even_number)
print("Odd numbers:", odd_number)

Enter a number :  1
Enter a number :  2
Enter a number :  3
Enter a number :  4
Enter a number :  5

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [121]:
user1 = int(input("Enter your age"))

if user1 < 13:
    print("you are a child")
elif user1 >= 13 and user1 <= 19:
    print("you are a tenager")
elif user1 >= 20 and user1 <= 59:
    print("you are a adult")
else:
    print("you are a seniour citizen")

Enter your age 12

you are a child

In [113]:
user1 = int(input("Enter your age: "))

if user1 < 13:
    print("You are a child.")
elif user1 >= 13 and user1 <= 19:
    print("You are a teenager.")
elif user1 >= 20 and user1 <= 59:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age:  67

You are a senior citizen.

In [134]:
item_price = {
    "apple":50,
    "banana":60,
    "cherry":70,
    "watermallon":200,
    "orange":300,
    "kiwi":1000
}

user_input = input("Enter item seprated by comma :")

items = user_input.lower().split(",")
print(items)

total_price = 0
unavailable_items = []

for item in items:
    item = item.strip()  # spaces hatao agar user ne diye hon
    if item in price:
        total_price += price[item]
    else:
        unavailable_items.append(item)

print(f"Available items total price: {total_price}")
if unavailable_items:
    print("Unavailable items:", ", ".join(unavailable_items))
else:
    print("All items are available.")

Enter item seprated by comma : apple,banana,cherry,watermallon,orange,kiwi

['apple', 'banana', 'cherry', 'watermallon', 'orange', 'kiwi']
Available items total price: 590
Unavailable items: watermallon, kiwi

In [154]:
vowel = "aeioumujtba"
letter = input("Enter a letter :").lower()

if letter in vowel:
    print("it is a vowel")
else:
    print("it is a consonent")

Enter a letter : mujtaba

it is a consonent

In [167]:
secnum = 7

num = int(input("Guest a number"))

if num < secnum:
    print("you guess low")
elif num > secnum:
    print("you guess high")
elif num == secnum:
    print("you guess correct")
else:
    print("Enter a correct input")

Guest a number 7

you guess correct

In [2]:
import random

secret = random.randint(1, 10)
guess = int(input("Guess a number between 1 and 10: "))

if guess == secret:
    print("You guessed it right!")
elif guess < secret:
    print("Too low!")
else:
    print("Too high!")

print(f"The secret number was: {secret}")

Guess a number between 1 and 10:  1

Too low!
The secret number was: 2

In [17]:
i = int(input("Enter number"))
e = int(input("Enter last number"))
while i < e:
  print(i)
  i += 2

Enter number 1
Enter last number 5

1
3

In [9]:
number = int(input("Enter number"))
last_num = int(input("Enter last number"))
breaks = int(input("Enter stop number"))
gap = int(input("Enter gap number"))
while number < last_num:
  print(number)
  if last_num == breaks:
      break
  number += gap

Enter number 1
Enter last number 50
Enter stop number 30
Enter gap number 3

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49