In [1]:
print("hello world" , 18)

hello world 18

In [2]:
print(12*2)

24

In [3]:
input("Enter a value")

Enter a value 1

'1'

In [29]:
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
print(f"the value of a + b  is >: {a + b}")
print(f"the value of a - b  is >: {a - b}")
print(f"the value of a * b  is >: {a * b}")
print(f"the value of a / b  is >: {a / b}")

Enter the value of a: 12
Enter the value of b: 10

the value of a + b  is >: 22
the value of a - b  is >: 2
the value of a * b  is >: 120
the value of a / b  is >: 1.2

In [29]:
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
print(f"the value of a + b  is >: {a + b}")
print(f"the value of a - b  is >: {a - b}")
print(f"the value of a * b  is >: {a * b}")
print(f"the value of a / b  is >: {a / b}")

Enter the value of a: 12
Enter the value of b: 10

the value of a + b  is >: 22
the value of a - b  is >: 2
the value of a * b  is >: 120
the value of a / b  is >: 1.2

In [30]:
a = "1"
b = "2"

In [32]:
print(a + b)

12

In [39]:
a = int(input("Enter the first value"))
b = int(input("Enter the second value"))
print(a * b)

Enter the first value 2
Enter the second value 3

6

In [44]:
 calculator = int(input("a1 + b1"))

a1 + b1 1

In [37]:
a = "mujtaba", "mujtaba", "shahrayar"
print(a[-4:-2])

('mujtaba',)

In [38]:
nm = "harry"
print(nm[-4:-2])

ar

In [39]:
a1 = "Mujtaba@@@@"
print(a1.upper())

MUJTABA@@@@

In [40]:
print(a1.lower())

mujtaba@@@@

In [41]:
print(a1.strip("@"))

Mujtaba

In [42]:
print(a1.replace("Mujtaba" , "ukasha"))

ukasha@@@@

In [43]:
print(a1.split())

['Mujtaba@@@@']

In [44]:
blogheading = ("welCome To mY bLog i wiSheD You aRe aLl EnjoYING My BLOG")
print(blogheading.capitalize())

Welcome to my blog i wished you are all enjoying my blog

In [45]:
blogheading = ("welCome To mY bLog i wiSheD You aRe aLl EnjoYING My BLOG")
print(blogheading.center(12))

welCome To mY bLog i wiSheD You aRe aLl EnjoYING My BLOG

In [46]:
print(a.count("mujtaba"))

2

In [13]:
age = int(input("Enter your age"))
print("Your age is" , age)

if (age <= 18):
    print("You cannot drive")
if(age >= 18):
        print("You can drive a Airoplane")
else:
    print("you can drive")

Enter your age 20

Your age is 20
You can drive a Airoplane

In [23]:
apple = 50
budget = int(input("Enter the budget"))
if (apple > budget):
    print("Donot purchase the apple")
else:
    print("Purchase the apple")

Enter the budget 55

Purchase the apple

In [43]:
user = int(input("Enter the number"))
if user < 0 :
    print("Number is negative")
elif user > 0:
    print("Number is positive")
elif user == 0:
    print("Number is zero")
else:
    print("number is special")
print("you are great")

Enter the number 12

Number is positive
you are great

In [61]:
khyber = 50000
budget = int(input("Enter the budget"))
if khyber < budget:
    print("mujtaba donot buy this car")
elif khyber >= budget:
    print("Mujtaba thore kam kerwao")
    if khyber <= 45000:
        print("dealing and borrow it")
    elif khyber != budget:
        print("bhar me dal")
    else:
        ("mehran hi lele")
else:
    print("better luck next time")

Enter the budget 0

Mujtaba thore kam kerwao
bhar me dal

In [75]:
time = int(input("Enter time"))
if time < 10:
    print("Good Morning")
elif time > 10 :
    print("Good Evening")
else :
    print("Good After Noon")

Enter time 10

Good After Noon

In [80]:
def romanToInt(s: str) -> int:
    roman = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }

    total = 0
    prev_value = 0

    for char in reversed(s):
        value = roman[char]
        if value < prev_value:
            total -= value
        else:
            total += value
        prev_value = value

    return total


romanToInt("LVIII")

58

In [41]:
name = str(input("Enter word"))
for i in name:
    print(i)
    for spel in i:
        print(spel)
        if "a" in spel:
            print("(1)")
        elif "b" in spel:
            print("(1)")
        else:
            print("not found")

Enter word mujtaba

m
m
not found
u
u
not found
j
j
not found
t
t
not found
a
a
(1)
b
b
(1)
a
a
(1)

In [61]:
for i in range(0 , 20 , 2):
    print(i + 2)

2
4
6
8
10
12
14
16
18
20

In [6]:
i = 2
while ( i <= 20):
    print(i)
    i  = i + 2

2
4
6
8
10
12
14
16
18
20

In [18]:
i = 10
while (i > 0):
    print(i)
    i = i - 2
else:
    print("my work is done")

10
8
6
4
2
my work is done

In [22]:
i = int(input("Enter number"))
while (i > 0):
    print(i)
    i = i - 2

Enter number 20

20
18
16
14
12
10
8
6
4
2

In [99]:
for i in range (int(input("enter stop value"))):
    if (i == 10):
        break
    print("5 x" ,i + 1, "=", 5 * (i + 1 ))
        
print("Table is done")

enter stop value 12

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Table is done

In [25]:
for i in range (10):
    if (i == 10):
        break
    print("5 x", i + 1, "=" , 5 * (i + 1))

print("tale is done")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
tale is done

In [28]:
for table in range (12):
   if (table == 10):
       break
   print("3 x" , table + 1 , "=" , 3 * (table + 1))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [45]:
for table in range(12):
    if (table == 10):
        break
    print("2 x" , table + 1 , "=" , 2 * (table + 1))
    
print("Table done")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Table done

In [35]:
for table in range (-12):
    if (table == -10):
        break
    print("2 x" , table - 1 , "=" , 2 * (table -1))
    
print("reverse table done")

reverse table done

In [5]:
i = 2
while ( i <= 20):
    print(i)
    i  = i + 1
    if i == 10:
        break

2
3
4
5
6
7
8
9

In [3]:
c = -3
while c < 3:
    print(c)
    c = c + 1

-3
-2
-1
0
1
2

In [5]:
for i in range (12):
    print(i)
    i = i + 1
    if i == 8:
        break

0
1
2
3
4
5
6
7

In [20]:
for i in range(20):
    if i == 12:
        print("Escpe")
        continue
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
Escpe
14
15
16
17
18
19
20

In [1]:
i = 0
while i < 15:
    if i == 10:
        print("Escape")
        break
    i = (i + 1)
    print(i)

1
2
3
4
5
6
7
8
9
10
Escape

# Function

In [1]:
def function():
    print("Welcome to function")

In [4]:
function()

Welcome to function

In [18]:
a = 12
b = 6
c = 12
d = 13

mathod = (a * b)/(a + b)

In [19]:
mathod

4.0

In [20]:
def mathod():
    print((a * b)/(a + b))

In [21]:
mathod()

4.0

In [48]:
def add():
    print(a+b+c+d)

In [49]:
add()

43

In [50]:
def divd():
    print(a/b*c+d)

In [51]:
divd()

37.0

In [52]:
def sub():
    print(a-b-c-d)

In [53]:
sub()

-19

In [55]:
sub()

-19

In [56]:
divd()

37.0

In [57]:
add()

43

In [72]:
a = int(input("Enter number of A"))
b = int(input("Enter number of B"))

def greater():
    print(a*b)
    if a > b:
        print("A is greater then B")
    elif a == b:
        print("A and B are equal")
    else:
        print("B is Greater then A")

greater()

Enter number of A 1
Enter number of B 2

2
B is Greater then A

In [74]:
greater()

2
B is Greater then A

In [80]:
better()

<function better at 0x000001877395B920>
<function better at 0x000001877395B920>

In [4]:
a = 2
while a < 10:
    print(a)
    a = a + 1

2
3
4
5
6
7
8
9

In [21]:
for i in range(12):
    print("5 x" , i + 1 , "=" , 5 * (i + 1))
    i = i + 1
    if i == 10:
        break

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [39]:
name()

hallow mujtaba

In [55]:
def a(a = 12 , b = 22):
    print("your answer is =",a + b / (22) * 12 + a)

In [57]:
a()

your answer is = 36.0

In [62]:
def name (mname , fname = "shokat" , cname = "hayat"):
    print("hallow" , mname , fname , cname)

name("mujtaba")

In [24]:
import random
secretnum = random.randrange(10)
while True:
    user = int(input("Enter the number"))
    
    if user < secretnum:
        print("too low")
    elif user > secretnum:
        print("too high")
    else:
        print("you win the secret number is" , secretnum)
        break

Enter the number 5

too low

Enter the number 7

too high

Enter the number 6

you win the secret number is 6