In [2]:
text = "mujtaba HAYAT"
print(text.capitalize())

Mujtaba hayat

In [ ]:
/#makes the first letter uppercase and the rest lowercase

In [6]:
text = "muJtAba"
print(text.casefold())

mujtaba

In [ ]:
/#Converts the entire string to lowercase for case insensitive comparisons more aggressive than lower

In [10]:
text = "mujtaba"
print(text.center(50))

                     mujtaba

In [ ]:
/#Centers the string in a given width using spaces or a specified character

In [16]:
text = "mujtaba mujtaba ukasha hassan"
print(text.count("mujtaba"))

2

In [ ]:
/#Counts how many times a specified value appears in the string

In [17]:
text = "hello"
encoded_text = text.encode()
print(encoded_text)

b'hello'

In [18]:
text = "mujtaba"
encoded_text = text.encode()
print(encoded_text)

b'mujtaba'

In [ ]:
/#Converts a string into bytes using a specified encoding

In [20]:
text = "hello sir"
print(text.endswith("sir"))
print(text.endswith("hello"))

True
False

In [ ]:
/#Returns True if the string ends With the specified substring otherwise returns false

In [31]:
text = "hello\tguys"
print(text.expandtabs(25))

hello                    guys

In [ ]:
/#Replaces tabs in a string with spaces using a specified tab size

In [32]:
text = "hello assigment"
print(text.find("assigment"))  
print(text.find("pakistan"))

6
-1

In [ ]:
/#Returns the index of the first occurrence of a specified substring in a string returns -1 if not found

In [35]:
name = "mujtaba"
age = 18
print("My name is {} and I am {} years old.".format(name,age))

My name is mujtaba and I am 18 years old.

In [ ]:
/#Inserts values into placeholders in a string to create a formatted message

In [37]:
data = {'name': 'mujtaba', 'age': 18}
print("My name is {name} and I am {age} years old.".format_map(data))

My name is mujtaba and I am 18 years old.

In [ ]:
/# format map Formats a string using a dictionary by replacing placeholders with corresponding key

In [41]:
text = "hello dell"
print(text.index("dell"))
print(text.index("hello"))

6
0

In [ ]:
/#Returns the position of the first occurrence of a specified value in a string; raises an error if not found

In [43]:
print("mujtaba123".isalnum())  
print("1@#$%".isalnum())   
print("hello mujtaba".isalnum())

True
False
False

In [ ]:
/# .isalnum () Returns True if a string contains only letters and numbers no spaces or special characters

In [4]:
print("Hello!".isascii())  
print("coff√©".isascii())

True
False

In [ ]:
/#isascii() Returns True if all characters in the string are standard ASCII otherwise returns False

In [10]:
print("456".isdecimal())     
print("987".isdecimal())      
print("456,78".isdecimal())   
print("12.4".isdecimal())

True
True
False
False

In [ ]:
/#isdecimal() Returns True if all characters in the string are decimal digits 0 9 only

In [13]:
print("456".isdigit())    
print("45".isdigit())      
print("123.45".isdigit())   
print("ab.c".isdigit())

True
True
False
False

In [ ]:
/#isdigit() Returns True if all characters in the string are digits including 0 9

In [18]:
print("my_home".isidentifier())  
print("123name".isidentifier())      
print("user name".isidentifier())     
print("worker".isidentifier())

True
False
False
True

In [ ]:
/#isidentifier()  Returns True if the string is a valid Python identifier used variable function names

In [20]:
print("mujtaba".islower())     
print("MUJTABA".islower())     
print("234mujtaba".islower())
print("456".islower())

True
False
True
False

In [ ]:
/#islower() Returns True if all alphabetic characters in the string are lowercase

In [22]:
print("123".isnumeric())    
print("2.3".isnumeric())       
print("25".isnumeric())      
print("12abc".isnumeric())

True
False
True
False

In [ ]:
/#isnumeric()  Returns True if all characters in the string are numeric e.g digits fractions superscripts)

In [31]:
print("Hello World!".isprintable())   
print("Line1\nLine2".isprintable())   
print("123 456".isprintable())

True
False
True

In [ ]:
/#isprintable()  Returns True if all characters in the string are printable visible otherwise returns False

In [36]:
print("".isspace())      
print("\t \n".isspace())     
print("hello mujtaba".isspace())

False
True
False

In [ ]:
/# isspace() Returns True if all characters in the string are whitespace spaces tabs newlines

In [39]:
print("Mujtaba".istitle())     
print("MUJTABA".istitle())     
print("mujtaba".istitle())     
print("123mujtaba".istitle())

True
False
False
False

In [ ]:
/# istitle() Returns True if the string is in title case meaning each word starts with an uppercase letter

In [41]:
print("MUJTABA".isupper())       
print("Mujtaba".isupper())       
print("123MUJTABA".isupper())    
print("123".isupper())

True
False
True
False

In [ ]:
/# isupper() Returns True if all alphabetic characters in the string are uppercase

In [45]:
words = ["mujtaba", "hayat"]
result = "  ".join(words)
print(result)

mujtaba  hayat

In [ ]:
/# join() Combines elements of an iterable into one string using the original string as a separator

In [63]:
text = "mujtaba"
print(text.ljust(25))       
print(text.ljust(20, '*'))

mujtaba
mujtaba*************

In [ ]:
/# ljust()  Returns the string left-aligned in a given width padding the right side with spaces or a specified

In [65]:
text = "MUJTABA HAYAT*"
print(text.lower())

mujtaba hayat*

In [ ]:
/# lower() Converts all uppercase letters in a string to lowercase

In [75]:
text = "   hello mujtaba  "
print(text.lstrip())       

text2 = "---mujtaba---"
print(text2.lstrip("-"))

hello mujtaba
mujtaba---

In [ ]:
/# lstrip() Removes whitespace or specified characters from the beginning left side of the string

In [76]:
table = str.maketrans("xyz", "789")
text = "xyzxyz"
print(text.translate(table))

789789

In [ ]:
/# maketrans() Creates a mapping table for character toc haracter translation used with translate

In [77]:
text = "mujtaba hayat"
result = text.partition(" ")
print(result)

('mujtaba', ' ', 'hayat')

In [ ]:
/# sir ye samajh nahi aaya

In [78]:
text = "I like car"
new_text = text.replace("car", "bike")
print(new_text)

I like bike

In [ ]:
/#replace() Replaces all occurrences of a specified value with another value in a string

In [79]:
text = "mujtaba hayat, mujtaba"
pos = text.rfind("mujtaba")
print(pos)

15

In [ ]:
/# rfind() Returns the highest index last position of the specified substring in the string; returns -1 if not found

In [82]:
text = "mujtaba hayat,mujtaba"
pos = text.rindex("mujtaba")
print(pos)

14

In [ ]:
/# rindex() Returns the last position of a specified value in the string; raises an error if the value is not found

In [84]:
text = "mujtaba"
print(text.rjust(20))        
print(text.rjust(25, '_'))

             mujtaba
__________________mujtaba

In [ ]:
/# rjust() Returns the string right aligned in a given width padding the left side with spaces or a specified character

In [95]:
text = "mujtaba,irani,ukasha,hayat"
result = text.rsplit(",", 500)
print(result)

['mujtaba', 'irani', 'ukasha', 'hayat']

In [ ]:
/# rsplit() Splits a string from the right at a specified separator and returns a list of parts

In [99]:
text = "mujtaba           "
print(text.rstrip())       

text2 = "hayat-------------"
print(text2.rstrip("-"))

mujtaba
hayat

In [ ]:
/# rstrip() Removes all trailing right side whitespace or specified characters from the end of the string

In [103]:
text = "mujtaba,hayat,shaikh"
result = text.split(",")
print(result)

['mujtaba', 'hayat', 'shaikh']

In [ ]:
/# split() Divides a string into parts using a specified separator and returns a list of those parts

In [109]:
text = "mujtaba\nhayat\nshaikh"
lines = text.splitlines()
print(lines)

['mujtaba', 'hayat', 'shaikh']

In [ ]:
/# splitlines() Splits a string into a list at line breaks

In [113]:
text = "mujtaba hayat"
print(text.startswith("mujtaba"))  
print(text.startswith("hayat"))

True
False

In [ ]:
/# startswith() Checks if a string begins with a specified value and returns True or False

In [116]:
text = "      Mujtaba Hayat           "
print(text.strip())

Mujtaba Hayat

In [ ]:
/# strip() Removes whitespace or specified characters from both ends of a string

In [119]:
text = "MuJTaBa HaYaT"
print(text.swapcase())

mUjtAbA hAyAt

In [ ]:
/# swapcase()  Converts uppercase letters to lowercase and lowercase letters to uppercase in a string

In [121]:
text = "mujtaba hayat"
print(text.title())

Mujtaba Hayat

In [ ]:
/# title() Converts the first letter of each word in a string to uppercase

In [123]:
able = str.maketrans("muj", "789")
text = "mujmuj"
print(text.translate(table))

mujmuj

In [ ]:
/# translate() ‚Äî Replaces characters in a string based on a translation table and returns the new string

In [125]:
text = "mujtaba hayat"
print(text.upper())  # Output: HELLO WORLD

MUJTABA HAYAT

In [135]:
num = "52"
print(num.zfill(10))

0000000052

In [ ]:
/# zfill() Adds zeros to the left of a string until it reaches a specified length